html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.nav-btn {
	margin-right: 5%;
}

#home-container {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ffb74d;
	position: absolute;
}

#login {
	width: 193px;
	margin: 30% auto 0;
}

h1 {
	margin-bottom: 0;
}

#work {
	width: 30% !important;
	margin: 3% auto !important;
	display: block !important;
}

.table-responsive {
	margin: 2% auto 0;
	height: 70%;
	width: 70% !important;
}

.fixed-table-container {
    width: 70%;
    height: 70%;
    border: 1px solid black;
    margin: 10px auto;
    background-color: white;
    position: relative;
}

.header-background {
	background-color: #D5ECFF;
	height: 30px;
	position: absolute !important;
	top: 0;
	right: 0;
	left: 0;
}

.fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

table {
    background-color: white;
    width: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
}

th {
    padding: 0 5px;
    text-align: left;
}

.first .th-inner {
    border-left: none;
    padding-left: 6px;
}

td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

.btn-block {
	margin-top: 2%;
	margin-bottom: 3.5%;
    padding-top: 2.3%;
	display: inline-block !important;
	width: 90% !important;
	vertical-align: top !important;
}

.slide-down {
	margin-top:40%;
}

.no-margin {
	margin-top:5%;
}

span {
	margin-top: 5%;
}

.show {
	width: 100% !important;
	margin: 0 auto;
	height: 55vh !important;
}

.segments {
	list-style-type: none !important;
	padding: 0 !important;
}

.demo-3 {
    position:relative;
    width:90% !important;
	height:55vh; 
    overflow:hidden;
    /*float:left;*/
    margin: 0 auto;
    /*margin-right:20px*/
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}

.demo-3 figure figcaption {
    display:block;
    position:absolute;
    height: 100%;
    z-index:10;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}


.demo-3 figure p {
    display:block;
    font-size:18px;
    color: black;
    line-height:1.6;
    font-weight: bold;
    margin:0;
    margin-bottom: 10%;
    text-align:center;
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:60vh;
    padding:10% 5%;
    background-color:white;
    opacity: .95;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}

.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

/*.table {
	width: 100% !important;
	background: white;
}*/

/*table {
    width: 100%;
}

tbody td, thead th {
    width: 29%;
}

thead, tbody { 
	display: block;
	padding: 5px;
}

tbody {
    overflow-y: auto;
    overflow-x: hidden;
}
*/
.btn-block+.btn-block {
    margin-top: 2%;
}

.bg-warning {
	width: 100%;
	background: white !important;
	height: 55vh !important;
	padding: 10px;
	margin: 0 auto;
}

.segments {
	list-style-type: none !important;
	padding: 0 !important;
}