#container {
	height: auto;
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.row {
	padding-top: 2%;
	background: #ffb74d;
	position:fixed !important;
	position:absolute;
	top:13%;
	right:10%;
	bottom:10%;
	left:10%;

}

svg {
	display: block;
	margin: 5% auto 0;
}
path {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}